<!--Used on/off button event-->
<div class="aionewarrival" id="aionewarrival"></div>
<div class="aiotrendingproducts" id="aiotrendingproducts"></div>
<div class="aiorecentview" id="aiorecentview"></div>
<div class="aiorelatedproducts" id="aiorelatedproducts"></div>