{% comment %}Inject message-banner begin{% endcomment %}
<div
  class="message-banner--container"
  role="alert"
  data-message-banner
>
  <div class="message-banner--outer">
    <div class="message-banner--inner" data-message-banner-content></div>

    <button
      class="message-banner--close"
      type="button"
      aria-label="{{ 'general.accessibility.close' | t }}"
      data-message-banner-close
    >
      {%- render 'icon-menu-close' -%}
    </button>
  </div>
</div>
{% comment %}Inject message-banner end{% endcomment %}
